.ball__triagle_active {
  top: 51px;
  background-color: var(--blue);
  border: none;
  width: 334px;
  min-height: 100px;
  animation: none;
  opacity: .9;
  padding: 37px 7px 7px;
  box-sizing: border-box;
  border-radius: 9px;
  cursor:default;
}