.ball {
  width: 437px;
  position: relative;
  margin-left: 12.13%;
}

@media screen and (max-width: 1536px) {
  .ball {
    margin-left: 1.13%;
  }
}

@media screen and (max-width: 600px) {
  .ball {
    width: 300px;
    height: 300px;
    margin-left: 0;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .ball {
    width: 230px;
  }
}